<!-- Page Wrapper -->
<div id="wrapper">



  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand topbar mb-4 static-top shadow bg-primary">

        <!-- Topbar Navbar -->

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Students</h1>
        <p class="mb-4">

          <!-- DataTales Example -->
        <div class="card shadow mb-4 col-sm-12 col-md-10 col-lg-6 col-xl-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of Students</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>SID</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of data">
                    <td>{{ student.sid}}</td>
                    <td>{{ student.name }}</td>
                    <td>
                      <div class="btn btn-link offset-sm-6 offset-md-5 offset-lg-3 offset-xl-2" data-toggle="tooltip"
                        title="Delete {{student.sid}}">
                        <span class="text-danger material-icons" (click)="showDialog(student.sid)">delete_forever</span>
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="bg-light">
      <div class="my-auto px-3">
        <nav>
          <div class="pb-4 border-top border-outset"><a class="h5 pb-4" routerLink="/lecturer">Lecturers</a></div>
        </nav>
        <div class="copyright text-center my-auto">
          <span>Advanced Data Centric Web Application</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->